body {
	background-color: #1b1b1b;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-shadow: 0.5px 0.5px 1px #313131;
	height: 100%;
}

main {
	height: 100%;
}

.navbar{
	height: 70px;
	background: #000;
	-webkit-box-shadow: 0 1.5px 4px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 1.5px 4px 0 rgba(0,0,0,0.2);
	z-index: 999;
}

.navbar .container-fluid {
	width: 95%;
	height: 100%;
	margin: auto;
}

.navbar-collapse {
	background-color: #000;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

/*center nav elements vertically*/
.navbar-header{
	height: 100%;
}

.navbar-brand,
.navbar-nav>li>a {
	line-height: 69px;
	padding: 0 15px;
}

.navbar-form {
	margin-top: 18px;
	margin-bottom: 10px;
}

.navbar-toggle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	margin-bottom: 0;
}

/**/

.navbar-brand {
	color: #c71d1d;
	font-size: 20px;
	font-weight: 700;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.navbar-brand:hover {
	color: #c71d1d;
	
}

.navbar-nav>li>a,
.navbar-nav>li>.navbar-text {
	color: #fff;
}

.navbar-nav>li>a:hover {
	background-color: #101010;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	 background-color: #101010;
}

.navbar-nav>li>.dropdown-menu {
	background-color: #000;
}

.dropdown-menu>li>a {
	color: #fff;
}

.navbar-form .input-group {
	width: 300px;
}

.navbar-form .input-group>.form-control {
	background-color: #363636;
	font-size: 0.8em;
	color: #fff;
	width: 100%;
}

.search-container {
	width: 70%;
	margin: auto;
	position: absolute;
	top: 0;
	display: none;
	z-index: 99999;
}

.search-container form {
	width: 50%;
}

.input-group-btn .btn {
	background-color: #c71d1d;
	color: #fff;
}

.login,
.search_button {
	cursor: pointer;
}

#login-container{
	width: 20%;
	position: absolute;
	top: 56px;
	right: 10px;
	z-index: 999;
	background: #1b1b1b;
	display: none;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav .mobile_options {
	display: none;
}

.container {
	width: 95%;
	height: 100vh;
	margin: auto;
}

.featured_short_container {
	width: 100%;
	margin:auto;
}

.featured_short_container {
	border: 1px solid #313131;
	height: 500px;
	padding: 15px 15px;
	position: relative;
}

.featured_short_about {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.15);
	position: absolute;
	top: 0;
	left: 0;
}

.featured_content {
	width: 90%;
	margin: auto;
	padding: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.featured_title a,
.featured_synopsis p {
	text-shadow: 0.5px 0.5px 1px #313131;
}

.featured_title a {
	color: #fff;
	font-size: 3.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.featured_title a:hover {
	text-decoration: none;
}

.featured_synopsis p {
	font-size: 1.3em;
}

.select_box {
	width: 100%;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 0 10px;
}

.select_header {
	position: relative;
}

.select_header p {
	font-size: 1.2em;
}

.select_header a {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
}

.section_border {
	height: 1px;
	width: 100%;
	margin: auto;
	background-color: #313131;
}

.watch_container,
.quick_select_box {
	margin: 0 auto;
	width: 95%;
	border: 1px solid #313131;
	border-radius: 4px;
}

.watch_container .col-xs-12 {
	padding-right: 0;
	padding-left: 0;
}

.title_container,
.about_header {
	background-color: #1b1b1b;
}

.title_container,
.about_content {
	padding: 8px 10px;
}

.title {
	font-size: 1.3em;
	font-weight: 700;
}

.about_header {
	padding: 3px 10px;
}

.about_header .glyphicon {
	padding-right: 5px;
	color: #c71d1d;
}

.about_content {
	background-color: #101010;
}


iframe {
	display: block;
	margin: auto;
	padding-bottom: 10px;
}

.quick_select_box {
	background-color: #1b1b1b;
	padding: 10px;
	margin-top: 10px;
}

.thumbnail_container {
	margin-top: 24px;
	width: 100%;
	position: relative;
	margin-left: 0;
	margin-right: 0;
}

.thumbnail_content {
	width: 100%;
	margin-bottom: 15px;
}

.thumb_container{
	min-width: 100%;
}

.thumb_container a>img {
	max-width: 100%;
	height: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5px;
}

.thumb_title_container {
	width: 100%;
	height: 35px;
}

.thumb_title_container a {
	font-size: 1em;
	color: #fff;
}

.thumb_title_container a:hover {
	text-decoration: none;
}

.result_container {
	padding: 10px 0;
}

.result_thumb {
	width: 246px;
}

.result_section_border {
	height: 1px;
	width: 83.33%;
	background-color: #313131;
}

.result_statistic {
	margin-top: 10px;
	margin-bottom: 10px;
}

.result_title a {
	font-size: 1.3em;
	color: #fff;
}

.result_title a:hover {
	text-decoration: none;
}

.result_synopsis p {
	font-size: 0.9em;
	color: #888;
	margin-top: 5px;
}

.dropdown_options{
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
}

.video_options {
	width: 90px;
	position: absolute;
	top: 25px;
	right: 0;
	z-index: 999;
	background: #363636;
	display: none;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.video_options a {
	color: #fff;
}

.video_options a:hover{
	text-decoration: none;
}

.form{
	margin: 10px 0;
}

.load-more {
	display: none;
	text-align: center;
	width: 100%;
	padding: 10px 0
}

.show_all_video {
	background-color: #101010;
	border: 1px solid #313131;
	border-radius: 4px;
	padding: 10px 20px;
}

.page_nav_container {
	margin: 5px 0;
}

.page_nav_container a{
	color: #fff;
}

.user_options {
	margin: 10px 0;
	padding: 0 10px;
}

@media screen and (max-width: 991px) {
	body {
		background: #000;
	}

	.navbar {
		margin: 0;
	}

	.navbar .container-fluid {
		width: 100%;
	}

	.left-side,
	.navbar-right> .desktop_options {
		display: none;
	}

	.navbar-form .input-group>.form-control {
		width: 100%;
	}

	.navbar-text {
		margin-left: 25px;
	}

	.navbar-left {
		display: block;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		background-color: #101010;
	}

	.navbar-nav .open .dropdown-menu {
		position: absolute;
		background-color: #101010;
	}

	.nav .mobile_options {
		display: block;
	}

	.container {
		width: 95%;
		height: 100%;
		margin: auto;
		padding: 0;
	}

	#login-container {
		width: 90%;
		margin: auto;
		position: absolute;
		top: 100px;
	}

	.dropdown-menu {
		background: #1b1b1b;
	}

	.dropdown-menu>li>a {
		color: #fff;
	}

	.navbar-form .input-group {
		width: 200px;
	}

	.featured_short_container {
		height: 340px;
	}

	.quick_select_box {
		overflow-x: auto;
		padding-left: 15px;
		padding-right: 15px;
	}

	.quick_select_content {
		width: 900px;
	}

	.form {
		margin: 20px 0;
	}

	.preview {
	margin-top: 10px;
	margin-bottom: 10px;
	}

	.login {
		height: 100vh;
		margin-top: 30px
	}
}

@media screen and (max-width: 767px){
	body {
		background: #000;
	}

	.navbar {
		margin: 0;
	}

	.navbar .container-fluid {
		width: 100%;
	}

	.left-side,
	.navbar-right> .desktop_options {
		display: none;
	}

	.navbar-form .input-group>.form-control {
		width: 100%;
	}

	.navbar-text {
		margin-left: 25px;
	}

	.navbar-form .input-group {
		width: 100%;
	}

	.navbar-left {
		display: block;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		background-color: #101010;
	}

	.navbar-nav .open .dropdown-menu {
		width: 100%;
		position: absolute;
		background-color: #101010;
	}

	.container {
		width: 95%;
		height: 100%;
		margin: auto;
		padding: 0;
	}

	.featured_title a {
		font-size: 2em;
	}

	.featured_synopsis p {
		font-size: 1em;
	}

	.select_box {
		width: 90%;
	}

	#login-container {
		width: 90%;
		margin: auto;
		position: absolute;
		top: 100px;
	}

	.dropdown-menu {
		background: #1b1b1b;
	}

	.dropdown-menu>li>a {
		color: #fff;
	}

	.result_thumb {
		width: 100%;
	}

	.result_section_border {
		width: 100%;
	}

	.watch_container {
		width: 100%;
	}

	.watch_container .title,
	.thumb_title {
		font-size: 1em;
	}

	.watch_container p {
		font-size: 0.9em;
	}

	.quick_select_box {
		width: 100%;
		margin-top: 10px;
	}

	.quick_select_header,
	.quick_select_content {
		width: 95%;
		margin: auto;
	}

	.thumbnail_content {
		margin-bottom: 10px;
	}

	.thumbnail_container {
		display: block;
		clear: both;
	}

	.thumb_container {
		max-width: 100%;
	}

	.form {
		margin: 20px 0 0 0;
	}

	.icon-bar {
		background: rgb(233,234,235);
	}
}